<a href="#book/1">
  <img class="media-object pull-left" width="120" height="200" src="{{cover.src}}">
  <div class="media-body">
    {{title}} - <span class="book--published">{{published}}</span> - <span class="book--type">{{type}}</span>
    <p>{{text}}</p>

    <div class="book--team">
      <div class="book--writers">
        {{#each team.writers}}
          <span class="book--writer">
          {{#if pseudo}}
            {{pseudo}}
          {{else}}
            {{firstname}} {{lastname}}
          {{/if}}
          </span>
        {{/each}}
      </div>

      {{#if team.artists}}
        <div class="book--artists">
          {{#each team.artists}}
            <span class="book--artist">{{firstname}} {{lastname}}</span>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="book--action-list">
    <a class="book--favorites tab-item active" href="#">
      {{favorites}}
    </a>
    <a class="book--comments tab-item" href="#">
      {{comments}}
    </a>
  </div>

</a>
