<a href="#book/{{_id}}">
  <img class="media-object pull-left" width="120" height="200" src="{{cover}}">
  <div class="media-body">
    {{title}} - <span class="book--published">{{published}}</span> - <span class="book--type">{{type}}</span>
    <p>{{text}}</p>

    <div class="book--team">
      <div class="book--writers">
        {{#each workers}}
          {{#is type 'writer'}}
            <span class="book--writer">
            {{#if pseudo}}
              {{pseudo}}
            {{else}}
              {{firstname}} {{lastname}}
            {{/if}}
            </span>
          {{/is}}
        {{/each}}
      </div>

      <div class="book--artists">
        {{#each workers}}
          {{#is type 'artist'}}
            <span class="book--artist">
            {{#if pseudo}}
              {{pseudo}}
            {{else}}
              {{firstname}} {{lastname}}
            {{/if}}
            </span>
          {{/is}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="book--action-list">
    <a class="book--favorites tab-item active" href="#">
      {{favorites}}
    </a>
    <a class="book--comments tab-item" href="#">
      {{comments}}
    </a>
  </div>

</a>
